body {
	border: 20px solid #bdc3c7;
	margin: 20px auto;
	max-width: 700px;
	width: 80%;
	font-family: "source sans pro";
	padding: 20px;
}

.special {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

h2 {
	font-size: 35px;
	font-weight: 700px;
}

hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/*
div {
	border: 20px solid white;
}*/